// header, section {
//     position: relative;
// }
#wave-hero-bg{
    position: absolute;
    z-index: -99;
    top: 0;
    max-width: 100%;
}
nav {
   // background-color: rgb(46, 46, 46);
    //color: white;
    // z-index: 99;
    // position: sticky;
    // top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .container-links {
        display: flex;
        height: inherit;
        width: 50%;
        justify-content: space-evenly;
    }
    svg {
        display: block;
        max-width: 15%;
    }
    div {
        font-weight: 500;
    }
    #hamburger, #close-op {
        display: none;
    }
}

section {
    margin: 40px 30px;
    color: $dark-blue;
    user-select: none;

    .hero-text-intro {
        margin-top: 50px;
        float: left;
        max-width: 40%;
    }
    button {
        margin: 60px 0px;
    }
    .know-more {
        margin: 0 20px;
    }
    .hero-img { 
        img {
            display: block;
            float: right;
            max-width: 50%;
        }
    }
}
