// Primary COLORS

$dark-blue: #214252;
$soft-red: #F05454;

// Neutral COLORS
$very-light-orange: #FEF9F3;
$progress-light-orange: #FFC785;
$btn-gradient: #FFB88C;

//BOX-SHADOW

$box-shadow: 0 10px 20px 0 #29292A;

//FONTS
$h1: 2.5rem;
$h2: 2rem;
$h3: 1.7rem; 
$h4: 1rem