*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "FiraGO";
  src: url(/fonts/FiraGO-Bold.otf) url(/fonts/FiraGO-ExtraBold.otf) url(/fonts/FiraGO-Medium.otf) url(/fonts/FiraGO-Regular.otf) url(/fonts/FiraGO-SemiBold.otf);
}

html, body {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-size: 16px;
  overflow-x: hidden;
  font-family: "FiraGO";
}

a {
  text-decoration: none;
  color: #214252;
  -webkit-transition: all .2s;
  transition: all .2s;
}

a:hover {
  border-bottom: 3px solid #F05454;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.3rem;
}

button {
  padding: 10px 25px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#F05454), to(#FFB88C));
  background: linear-gradient(to right, #F05454, #FFB88C);
  font-family: 'FiraGO';
  font-weight: 500;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  -webkit-animation: hoverBtn .3s forwards;
          animation: hoverBtn .3s forwards;
}

button:active {
  -webkit-animation: activeBtn .3s forwards;
          animation: activeBtn .3s forwards;
}

@-webkit-keyframes hoverBtn {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@keyframes hoverBtn {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@-webkit-keyframes activeBtn {
  0% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes activeBtn {
  0% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

header, section {
  position: relative;
}

#wave-hero-bg {
  position: absolute;
  z-index: -99;
  top: 0;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav svg {
  display: block;
  max-width: 15%;
}

nav div {
  font-weight: 500;
}

section {
  margin: 40px 40px;
  color: #214252;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

section .hero-text-intro {
  margin-top: 50px;
  float: left;
  max-width: 40%;
}

section button {
  margin: 60px 0px;
}

section .know-more {
  margin: 0 20px;
}

section .hero-img img {
  display: block;
  float: right;
  max-width: 50%;
}

.who-are-we-section {
  position: relative;
  margin: 750px 40px;
}

.who-are-we-section h1 {
  text-align: center;
}

.who-are-we-section #who-are-we-img-1 {
  margin: 100px 0;
}

.who-are-we-section #who-are-we-img-1 img {
  float: left;
  min-width: 50%;
  display: block;
}

.who-are-we-section .who-are-we-content-1 {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.who-are-we-section .who-are-we-content-1 > * {
  margin: 80px 0;
}

.who-are-we-section .who-are-we-content-2 > * {
  margin: 80px 0;
}

.who-are-we-section p {
  line-height: 1.5;
  margin-bottom: 50px;
}

.who-are-we-section .learn-more {
  color: #F05454;
}

.who-are-we-section .who-are-we-row-2 {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  float: left;
}

.who-are-we-section .who-are-we-row-2 .who-are-we-content-2 {
  max-width: 50%;
  float: left;
}

.who-are-we-section .who-are-we-row-2 .who-are-we-content-2 p {
  max-width: 95%;
}

.who-are-we-section .who-are-we-row-2 img {
  float: right;
  max-width: 50%;
  display: block;
}

.services-section {
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}

.services-section h1 {
  text-align: center;
}

.services-section h2 {
  margin: 100px 0px 50px 30px;
}

.services-section .grid {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-section .grid img {
  position: absolute;
  right: -80px;
  top: -150px;
}

.services-section .box {
  position: relative;
  -webkit-box-shadow: 0 2px 10px -5px #29292A;
          box-shadow: 0 2px 10px -5px #29292A;
  border-radius: 10px;
  height: 200px;
  width: 250px;
}

.services-section .box h4 {
  margin: 40px 20px;
}

.services-section .approach {
  max-width: 40%;
}

.services-section .flex-row-approach-layout {
  float: left;
  margin: 0 30px 0 30px;
}

.services-section .flex-row-approach-layout .circle {
  height: 70px;
  width: 70px;
  background-color: #F4F5F7;
  border-radius: 50%;
  -webkit-transform: translate(60px, 60px);
          transform: translate(60px, 60px);
  position: relative;
}

.services-section .flex-row-approach-layout .circle:not(:nth-child(1)) {
  margin: 200px 0px;
}

.services-section .flex-row-approach-layout .arrow {
  position: absolute;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  top: 100%;
  left: 50%;
  height: 80px;
  width: 3px;
  background-color: #FFC785;
  margin-top: 10px;
}

.services-section .flex-row-approach-layout .arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid orange;
  -webkit-transform: rotate(180deg) translate(0%, -20%);
          transform: rotate(180deg) translate(0%, -20%);
  top: 100%;
  left: -100%;
}

.services-section .flex-row-approach-layout .arrow::before {
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  top: 100%;
  left: 50%;
  height: 80px;
  width: 3px;
  margin-bottom: 10px;
  background-color: #FFC785;
}

.services-section .approach-svg {
  position: relative;
}

.services-section .approach-svg img {
  -webkit-transform: translate(-100px, 150px);
          transform: translate(-100px, 150px);
  float: right;
  max-width: 45%;
}

.project-section h1 {
  margin-top: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(0%) translateX(0%);
          transform: translateY(0%) translateX(0%);
  z-index: 99;
}

.project-section .grid-projects {
  z-index: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  width: 100%;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  -ms-grid-rows: minmax(200px, auto);
      grid-template-rows: minmax(200px, auto);
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.project-section .grid-projects .box {
  background-color: #eee;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 20px;
  -webkit-box-shadow: 0 2px 10px -5px #29292A;
          box-shadow: 0 2px 10px -5px #29292A;
  border-radius: 5px;
}

.project-section .grid-projects .box:hover {
  background-color: #F05454;
  color: white;
}

.project-section .grid-projects .box:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}

.project-section .grid-projects .box:nth-child(2) {
  grid-column: span 1;
  grid-row: span 2;
}

.project-section .grid-projects .box:nth-child(3) {
  grid-column: span 1;
  grid-row: span 2;
}

.project-section .grid-projects .box:nth-child(5) {
  grid-column: span 1;
  grid-row: span 2;
}

.project-section .grid-projects .box:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}

.project-section .grid-projects .box:nth-child(7) {
  grid-column: span 1;
  grid-row: span 4;
}

.pricing-section {
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}

.pricing-section h1 {
  text-align: center;
}

.pricing-section #line {
  margin: 30px 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pricing-section .pricing-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(600px, auto);
  grid-gap: 70px;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.pricing-section .pricing-grid .card {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #FEF9F3;
  -webkit-transition: all .4s;
  transition: all .4s;
  border-radius: 10px;
}

.pricing-section .pricing-grid .card:nth-child(2) {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #F05454;
  color: white;
}

.pricing-section .pricing-grid .card li {
  list-style: none;
  font-size: 18px;
}

.contact-form-section {
  -webkit-transform: translateY(350px);
          transform: translateY(350px);
}

.contact-form-section .form-col-1 {
  width: 45%;
  float: left;
}

.contact-form-section .form-col-1 h2 {
  width: 70%;
}

.contact-form-section .form-col-1 #your-needs {
  margin: 40px 0;
}

.contact-form-section .form-col-1 #your-needs img {
  display: block;
}

.form-col-2 {
  width: 45%;
  display: inline-block;
  -webkit-transform: translate(100px, 70px);
          transform: translate(100px, 70px);
}

.form-col-2 form > * {
  display: block;
  margin: 10px 0;
}

.form-col-2 form input {
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  outline: none;
  border: 1.5px solid #EBEAED;
  font-family: "FiraGO";
}

.form-col-2 form textarea {
  resize: none;
  outline: none;
  border-radius: 5px;
  height: 180px;
  width: 100%;
  border: 1.5px solid #EBEAED;
  padding: 10px;
  font-family: "FiraGO";
}

.form-col-2 form button {
  background: #F05454;
  font-size: 16px;
  padding: 20px;
}

.footer-section {
  position: relative;
  margin-top: 200px;
  width: 100%;
}

.footer-section #footer-bg img {
  z-index: -99;
  margin: 0;
  position: absolute;
  left: 0;
  top: -50%;
}

.footer-section .flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px;
  list-style: none;
}

.footer-section .flex-footer .col-1-footer {
  max-width: 30%;
}

.footer-section .flex-footer .col-1-footer img {
  max-width: 50%;
}

.footer-section .flex-footer .col-2-footer > * {
  margin: 20px 0;
}

.footer-section .flex-footer .col-1-footer > * {
  margin: 15px 0;
}

.footer-section .flex-footer .col-3-footer > * {
  margin: 40px 0;
}

.footer-section .flex-footer .col-3-footer {
  position: relative;
}

.footer-section .flex-footer .col-3-footer input {
  position: relative;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  outline: none;
  border: none;
  font-family: "FiraGO";
  background-color: #21425252;
}

.footer-section .flex-footer .col-3-footer input::-webkit-input-placeholder {
  color: #214252;
}

.footer-section .flex-footer .col-3-footer input:-ms-input-placeholder {
  color: #214252;
}

.footer-section .flex-footer .col-3-footer input::-ms-input-placeholder {
  color: #214252;
}

.footer-section .flex-footer .col-3-footer input::placeholder {
  color: #214252;
}

.footer-section .flex-footer .col-3-footer button {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0%, -80%);
          transform: translate(0%, -80%);
  background: transparent;
  -webkit-animation: none;
          animation: none;
  z-index: 99;
}

@media (max-width: 768px) {
  .grid-projects {
    -ms-grid-columns: (minmax(50%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    -ms-grid-rows: minmax(auto, auto);
        grid-template-rows: minmax(auto, auto);
  }
  .grid-projects .box {
    grid-column: unset !important;
    grid-row: unset !important;
  }
}
/*# sourceMappingURL=main.css.map */